body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

h2,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
}

p {
  color: gray;
}

.container-fluid {
  padding: 7% 15%;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

/* title-section */

/* nav-bar */

.navbar {
  padding-bottom: 5rem;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.nav-item {
  font-family: "Lato", sans-serif;
  padding: 0 18px;
}

/* title */

#title {
  background-color: #7c9473;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.lg-heading {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 100px;
  line-height: 1.2;
}

.title-img {
  width: 30%;
  position: absolute;
  left: 57%;
}

/* features */

#features {
  background-color: white;
  position: relative;
}

.feature-content h3 {
  text-align: center;
  padding: 5%;
  font-weight: normal;
}

.icon {
  color: #7c9473;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #afcca4;
}

/* .testimonial */

#testimonials {
  background-color: #afcca4;
}

.testimonial-text {
  font-size: 2rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* press */

#press {
  background-color: #afcca4;

  padding-bottom: 3%;
}

.press-logo {
  width: 8%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 1.5rem;
}

.pricing-coloumn {
  padding: 3% 2%;
}

/* call-to-action */

#cta {
  background-color: #afcca4;
}

.cta-heading {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

/* footer */

.social-icon {
  margin: 20px;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .lg-heading {
    font-size: 3rem;
  }

  .title-img {
    position: static;
    width: 50%;
  }
}
